# Ignore backup and temporary files
*.bak       # Backup files
*.tmp       # Temporary files

# Ignore specific editor and IDE files
.idea/      # IntelliJ IDEA project files
*.swp       # Vim swap files
*.swo       # Vim swap files
.vscode/    # Visual Studio Code project files
*.code-workspace  # Visual Studio Code workspace files
*.sublime-project # Sublime Text project files
*.sublime-workspace # Sublime Text workspace files

# Ignore log files
*.log       # Log files

# Ignore system files
.DS_Store   # macOS Finder metadata
Thumbs.db   # Windows thumbnail cache
Desktop.ini # Windows desktop configuration

# Ignore compiled PHP files and cache
*.php~      # PHP backup files
*.pyc       # Compiled Python files
*.class     # Compiled Java files
*.jar       # Java Archive files

# Ignore node_modules
node_modules/ # Node.js packages

# Ignore vendor directory
/vendor/    # Composer dependencies
