:root {
    --main-bg-color: #f4f4f4;
    --primary-color: #4CAF50;
    --secondary-color: #333;
    --white-color: #fff;
    --light-gray-color: #fafafa;
    --dark-gray-color: #575757;
}

body {
    background-color: var(--main-bg-color);
    color: var(--secondary-color);
}

.container {
    background: var(--white-color);
}

header {
    background: var(--primary-color);
    color: var(--white-color);
}

nav ul {
    background: var(--secondary-color);
}

nav ul li a {
    color: var(--white-color);
}

nav ul li a:hover {
    background: var(--dark-gray-color);
}

.equipment-list li {
    background: var(--light-gray-color);
}

footer {
    background: var(--secondary-color);
    color: var(--white-color);
}
